.assignmentCreationHead
{
 text-align:center;
 vertical-align:top;
}

a.projectitem
{
  cursor:pointer;
}

li.assignedname
{
  text-decoration:none;
  color: black;
  cursor:initial;
}


input[name=title]
{
  font-size:20px;
  float:center;
}

input[name=createnew]
{
  width: 200px;
  font-size:40px;
  float: right;
}

.creationcontainer
{
  display:flex;
}
.assignmentCreationGroup
{
  width:300px;
  height:100%;
  border-right: 1px solid black;
  vertical-align:top;
  float:left;
  overflow:hidden;
}

.assignmentCreation
{

}

.assignmentcreationcontainer
{
  float:left;
  width:100%;
  overflow:hidden;
}

.assignmentCreationCriteria
{

}
