.coursename
{
  height: 50%;
  font-weight:bold;
  font-size: 20px;
  text: black;
  text-align:center;
  vertical-align:center;
  padding: 5px;
}
.classCard
{
  border-radius: 5px 5px 5px 5px;
  decoration:none;
  display: inline-block;
  background:lightgrey;
  width:200px;
  height:200px;
  text-align:center;
  margin:10px;
  padding:10px;
  border: 1px solid darkgrey;
  box-shadow: 10px 10px 5px #000000;
  transition: box-shadow 1s ease-in-out,
              background 1s ease-in-out,
              border     1s ease-in-out;
}
.classCard:hover
{
 background-color: white;
 border: 1px solid lightgrey;
 box-shadow: 18px 18px 13px #000000;
}


.classesJoin:hover
{
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 18px 18px 13px #000000;
}

.cardTitle
{
  width:100%;
  text-align:center;
  vertical-align:center;
  font-size:15px;
}

.cardContents
{
  vertical-align:bottom;
  font-size:15px;
}
