body
{
  background-color: #7a93bc;
}
a
{
  color: white;
  margin:5px;
  padding:5px;
}
a.title
{
  text-decoration:none;
}

td
{
  vertical-align:top;
}

table
{
  width: 100%;
  height: 100%;
}
button
{
  padding: 10px;
  margin: 2px;
}
.sessionStat
{
  text-align:right;
}
.header
{
  height: 50px;
}
.menu
{
  border-right: 2px solid black;
  width:200px;
}

.error
{
  color:yellow;
}
.groupbox
{
  padding: 10px;
  margin: 5px;
  background-color: lightgrey;
}

.groupbox:hover
{
  background-color:white;
}

[ondrop]
{
  border:2px solid red;
}

.namebutton
{
  border:1px solid lightgrey;
}
