header
{
  background-color:#7a93bc;
  height:50px;
  width:100%;
}
.header
{
  align:center;
  text-align:center;

  color:white;
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 0px;

}
.pageTitle
{
  padding:10px;
  padding-right: 20px;
  padding-left: 20px;
  margin:20px;
  color:white;
  font-style:bold;
  text-decoration: none;
  transition: all 1s ease-in-out;
  border: 1px solid white;
  border-radius: 30px;
}

.pageTitle:hover
{
  color:lightgrey;
  text-decoration:none;
  border: 1px solid lightgrey;
}
.headerTitle
{
  float:left;
  margin:none;
  padding:none;
  height: 100%;
  text-decoration:none;
}

.headerCenter
{
  position:absolute;
  bottom:0px;
  left:50%;
  float:center;
  color:black;
  text-align:center;
  vertical-align:bottom;
  height: 100%;
  margin:none;
  padding:none;
}

.headerLogin
{
  float: right;
    height: 100%;
  margin:none;
  padding:none;
}

.currentAction
{
  height: 100px;
  text-align: center;
  background-color:#7a93bc;
  border-bottom: 2px solid black;
}
