.dayofweek
{
  width:300px;
}

input.standard
{
  border: 1px solid black;
  border-radius:10px 10px 10px 10px;
  background-color: white;
  color:black;
  padding:5px;
  margin : 5px;
}

input.standard:disabled
{
  background-color:grey;
}


button.standard
{
  border: 1px solid black;
  border-radius:10px 10px 10px 10px;
  background-color: white;
  color:black;
  padding:5px;
  margin : 5px;
}

textarea.standard
{
  border: 1px solid black;
  border-radius:10px 10px 10px 10px;
  background-color: white;
  color:black;
  padding:5px;
  margin : 5px;
}

select.standard
{
  border: 2px solid black;
  border-radius:10px 10px 10px 10px;
  background-color: white;
  color:black;
  padding:5px;
  margin : 5px;
}

input.joinedInput
{
  text-indent: 10px;
  vertical-align:top;
  height: 50px;
  width: 400px;
  border-radius: 10px 0px 0px 10px;
  border:1px solid black;
  border-right: none;
  padding:none;
  margin:none;
}

input[type='submit']
{
  width: 100px;
}

input[type='checkbox']
{
  width:20px;
  height:20px;
}

button.joinedButton
{
  background: white;
  vertical-align:top;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  border:1px solid black;
  border-left:none;
  padding:none;
  margin:none;
}


input.joinedInputMedium
{
  vertical-align:top;
  text-indent: 10px;
  height: 30px;
  width: 300px;
  border-radius: 10px 0px 0px 10px;
  border:1px solid black;
  border-right: none;
  padding:none;
  margin:none;
}

button.joinedButtonMedium
{
  font-size:15px;
  background: white;
  vertical-align:top;
  height: 30px;
  border-radius: 0px 10px 10px 0px;
  border:1px solid black;
  border-left:none;
  padding:none;
  margin:none;
}



input.joinedInputSmaller
{
  vertical-align:top;
  text-indent: 10px;
  height: 20px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
  border:1px solid black;
  border-right: none;
  padding:none;
  margin:none;
}

button.joinedButtonSmaller
{
  font-size:10px;
  background: white;
  vertical-align:top;
  height: 20px;
  border-radius: 0px 10px 10px 0px;
  border:1px solid black;
  border-left:none;
  padding:none;
  margin:none;
}
