.projectTitle{
  font-size: 22px;
  font-style: normal;
}

.responsesButton{
  text-align: center;
  color: #1195c6;
  padding: 4.5% 21% 4.5% 21%;
  background-color: white;
  border-radius: 30px;
  border: solid 1.5px #1195c6;
  margin: auto;
}

.tab {
  display: none;
}
