.assignmentTitle{
  font-size: 22px;
  font-style: normal;
  padding-top:5%;
  padding-bottom:5%;
}

.assignmentCard
{
  padding: 10px;
  margin: 20px auto;
  width:80%;
  text-align:center;
  border: 1px solid black;
  border-radius: 20px;
}
