.assignmentTitle{
  font-size: 22px;
  font-style: normal;
  padding-top:5%;
  padding-bottom:5%;
  border: 2px solid gray;
  border-left: 0px;
  border-right: 0px;
}

td.projectsButton{
  padding: 10%;
  text-align: center;
}

a.projectsButton{
  text-align: center;
  color: white;
  padding: 5% 25% 5% 25%;
  background-color: #1195c6;
  border-radius: 30px;
  margin: auto;
}
