*{
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
}

#catchphrase{
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.bigButton{
  width: 75%;
  text-align: center;
  padding: 10%;
  margin: auto;
  background-color: blue;
}
