div.inputLogin{
  width: 100%;
  text-align: center;
  padding: 0 0 2em 0;
}
div.inputProjectRegistration{
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 3%;
  margin: auto;
}

div.inputRegister{
  width: 100%;
  padding-bottom: 15%;
  margin: auto;
}

div.inputClasses{
  width: 80%;
  vertical-align:top;
  text-align: center;
  padding-bottom: 15%;
  margin: auto;
}

input.bigButton{
  text-align: center;
  border: none;
  padding: 4% 20% 4% 20%;
  color: white;
  background-color: #1195c6;
  border-radius: 50px;
  font-size: 18px;
  width: 75%;
}

.typeBox{
  height: 1em;
  width: 75%;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  padding: 1em;
}

.typeBoxBig{
  height: 15.5%;
  width: 75%;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  padding-left: 10px;
}

.typeBoxSmall{
  height: 20px;
  width: 69%;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: black;
  border-width: 1px;
  padding-left: 10px;
  vertical-align:top;

}

button.plus{
  height: 20px;
  width: 6%;
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: black;
  border-left: none;
  border-width: 1px;

}

.inline{
  vertical-align:top;
  display:inline;
  margin: 0;
}

.firstLast{
  width: 32.5%;
}

.MI{
  padding-left: 5px;
  width: 8%;
}

#email{
  padding-top: 15%;
}







.
