.title
{
  font-weight:bold;
}
.stuff
{
  width: 70%;
  padding:10px;
}

.projectupper
{
  text-align:center;
}
#ProjectView
{
  vertical-align:top;
}

.projectList{
  overflow:scroll;
}

#submissionFormContainer
{
  border-radius: 5px 5px 5px 5px;
  width: 80%;
  text-align:center;
  margin:10px auto;
  padding:10px;
  border: 1px solid darkgrey;

}
